<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="language" content="english"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:if="${#strings.isEmpty(global.setting.meta.title) || global.setting.meta.title == 'Index'}" th:text="${global.setting.name}"></title>
    <title th:if="${not #strings.isEmpty(global.setting.meta.title) || global.setting.meta.title != 'Index'}" th:text="${global.setting.meta.title + ' | ' + global.setting.name}"></title>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.description)}" name="description" th:content="${global.setting.meta.description}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.keyword)}" name="keyword" th:content="${global.setting.meta.keyword}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.categories)}" name="categories" th:content="${global.setting.meta.categories}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.language)}" name="language" th:content="${global.setting.meta.language}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.themeColor)}" name="theme-color" th:content="${global.setting.meta.themeColor}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.robots)}" name="robots" th:content="${global.setting.meta.robots}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.geo.region)}" name="geo.region" th:content="${global.setting.meta.geo.region}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.geo.placename)}" name="geo.placename" th:content="${global.setting.meta.geo.placename}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.og.locale)}" property="og:locale" th:content="${global.setting.meta.og.locale}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.og.type)}" property="og:type" th:content="${global.setting.meta.og.type}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.og.siteName)}" property="og:site_name" th:content="${global.setting.meta.og.siteName}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.og.url)}" property="og:url" th:content="${global.setting.meta.og.url}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.og.title)}" property="og:title" th:content="${global.setting.meta.og.title}"/>
    <meta th:if="${not #strings.isEmpty(global.setting.meta.og.description)}" property="og:description" th:content="${global.setting.meta.og.description}"/>
    <link th:if="${not #strings.isEmpty(global.setting.canonical)}" rel="canonical" th:href="${global.setting.canonical}"/>
    <link th:if="${not #strings.isEmpty(global.setting.author)}" rel="author" th:href="${global.setting.author}"/>
    <link th:if="${not #strings.isEmpty(global.setting.publisher)}" rel="publisher" th:href="${global.setting.publisher}"/>
    <link rel="icon" type="image/x-icon" th:href="${global.setting.url.image + '/favicon.ico'}"/>
    <link rel="stylesheet" type="text/css" th:href="${global.setting.url.css + '/library/angular-js/angular-material.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="${global.setting.url.css + '/library/angular-js/angular-scrollbar.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="${global.setting.url.css + '/library/jquery/jquery-animate-slider.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="${global.setting.url.css + '/library/owl-carousel.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="${global.setting.url.css + '/library/flatpicker.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="${global.setting.url.css + '/library/owl-theme-default.min.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="${global.setting.url.css + '/library/library.css'}"/>
    <link rel="stylesheet" type="text/css" th:href="${global.setting.url.css + '/global.css'}"/>
    <link th:each="css : ${global.setting.css}" rel="stylesheet" type="text/css" th:href="${global.setting.url.css + '/' + css}"/>
</head>
<base th:fragment="global" id="global" th:data-cookie-path="${global.cookie.path}" th:data-cookie-prefix="${global.cookie.prefix}" th:data-datetime-format="${global.dateTime.format}" th:data-datetime-offset="${global.dateTime.offset}" th:data-datetime-timezone="${global.dateTime.timezone}" th:data-audio-url="${global.setting.url.audio}" th:data-base-url="${global.setting.url.base}" th:data-image-url="${global.setting.url.image}" th:data-panel-url="${global.setting.url.panel}" th:data-video-url="${global.setting.url.video}" th:data-website-url="${global.setting.url.website}" th:data-websocket-url="${global.setting.url.websocket}"/>
<audio th:fragment="notification" id="notification">
    <source th:src="${global.setting.url.audio + '/notification.mp3'}" type="audio/mpeg">
</audio>
<div th:fragment="loading" id="loading" ng-show="loading.view">
    <div class="wrapper">
        <div class="circle"></div>
        <div class="circle-1"></div>
    </div>
</div>
<div th:fragment="response" id="response" ng-show="response.view" ng-class="response.class">
    <p ng-bind-html="response.message"></p>
</div>
<div th:fragment="top-menu" id="top-menu">
    <div class="wrapper">
        <div class="announcement">
            <div>
                <p>Exclusive Black Friday ! Time Left</p>
            </div>
            <div class="countdown">
                <p>00</p>
            </div>
            <div>
                <p>Days</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="social-media">
            <a href="#"><i class="facebook-grey square-15"></i></a>
            <a href="#"><i class="instagram-grey square-15"></i></a>
            <a href="#"><i class="tokopedia-grey square-15"></i></a>
        </div>
        <div class="contact-us">
            <a href="#"><i class="envelope-grey square-15"></i></a>
            <a href="#"><i class="phone-grey square-15"></i></a>
            <a href="#"><i class="whatsapp-grey square-15"></i></a>
        </div>
        <div class="account">
            <a href="#">
                <p><i class="user-black square-15"></i></p>
                <p>Login</p>
            </a>
        </div>
    </div>
</div>
<div th:fragment="header" id="header">
    <div class="wrapper">
        <div class="logo">
            <a th:href="${global.setting.url.base}">
                <h1>
                    <img th:src="${global.setting.url.image + '/logo.png'}" th:alt="${global.setting.name + ' Logo'}"/>
                </h1>
            </a>
        </div>
        <ul class="menu">
            <li class="menu-item">
                <a th:href="${global.setting.url.base}">Home</a>
            </li>
            <li class="menu-item">
                <a th:href="${global.setting.url.base}">Category</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">Blowjob</a>
                    </li>
                    <li>
                        <a href="#">Office Lady</a>
                    </li>
                    <li>
                        <a href="#">Squirting</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a th:href="${global.setting.url.base}">Star</a>
            </li>
            <li class="menu-item">
                <a th:href="${global.setting.url.base}">Video</a>
            </li>
            <li class="menu-item">
                <a th:href="${global.setting.url.base}">About Us</a>
            </li>
            <li class="menu-item">
                <a th:href="${global.setting.url.base}">Contact Us</a>
            </li>
        </ul>
        <ul class="cart">
            <li>
                <p><i class="basket-white square-20"></i></p>
                <p>0</p>
                <ul class="cart-summary">
                    <li>
                        <p>Total :</p>
                        <p>$0.00</p>
                    </li>
                    <li>
                        <a href="#">Shopping Cart</a>
                        <a href="#">Checkout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="search">
            <p><i class="search-yellow square-15"></i></p>
        </div>
    </div>
</div>
</html>
