/*==================== Basic ====================*/
html,
body {
    background: #131014;
    color: #fff;
    font-family: poppins, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-size: 16px;
    font-weight: 600;
}

h3 {
    font-size: 14px;
    font-weight: 600;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #e4a101;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#wrapper div.wrapper {
    margin: 0 auto;
    width: 1300px;
}

/*========== Form ==========*/
input,
textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #798699;
    color: #f7f7f7;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 10px;
    resize: none;
    transition-duration: 1s;
}

::-webkit-input-placeholder {
    color: #798699 !important;
}

:-ms-input-placeholder {
    color: #798699 !important;
}

::placeholder {
    color: #798699 !important;
}

select {
    background: none;
    border: none;
    border-bottom: 2px solid #798699;
    color: #f7f7f7;
    height: 32px;
    padding: 5px 0 5px 10px;
}

form .select2-container a.select2-choice {
    border-bottom: 2px solid #798699;
}

input:focus,
textarea:focus,
select:focus {
    border-bottom: 2px solid #367fa9;
}

select option {
    background: rgba(0, 0, 0, 0.4);
}

select option:first-child {
    display: none;
}

/*========== Button ==========*/
button {
    border-radius: 5px;
    color: #f7f7f7;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
}

button.blue {
    background: #41a6ff;
    border: 1px solid #41a6ff;
}

button.blue:hover {
    background: #3f97fe;
}

button.green {
    background: #59ad2f;
    border: 1px solid #59ad2f;
}

button.green:hover {
    background: #4f9b2b;
}

button.red {
    background: #af2f2f;
    border: 1px solid #af2f2f;
}

button.red:hover {
    background: #a62d2d;
}

button.transparent {
    background: transparent;
    border: none;
}

button.yellow {
    background: #ffa91f;
    border: 1px solid #ffa91f;
}

button.yellow:hover {
    background: #ff9806;
}

/*========== Page Not Found ==========*/
#wrapper .full-image img {
    display: block;
    margin: 0 auto;
    width: 700px;
}

#wrapper .full-image p.back {
    height: 50px;
    line-height: 50px;
    margin: 0;
    text-align: center;
}

/*========== Paragraph ==========*/
p.blue,
span.blue {
    color: #41a6ff;
}

p.blue:hover,
span.blue:hover {
    color: #3f97fe;
}

p.green,
span.green {
    color: #59ad2f;
}

p.green:hover,
span.green:hover {
    color: #4f9b2b;
}

p.red,
span.red {
    color: #af2f2f;
}

p.red:hover,
span.red:hover {
    color: #a62d2d;
}

p.yellow,
span.yellow {
    color: #ffa91f;
}

p.yellow:hover,
span.yellow:hover {
    color: #ff9806;
}

/*========== Popup ==========*/
#popup div.wrapper {
    width: 600px;
}

div.popup .accordion div.data-entry {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;
    grid-template-columns: 180px 357px;
}

div.accordion .accordion-content p.title {
    font-weight: 600;
    line-height: 32px;
    margin: 0;
    padding: 0 10px 0 0;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
}

div.accordion .accordion-content div.data {
    line-height: 32px;
}

div.accordion .accordion-content div.file-list {
    height: 50px;
    margin: 0 10px 0 0;
}

div.accordion .accordion-content div.checkbox {
    float: left;
    margin: 0 10px 0 0;
}

div.accordion-content .data p:first-child {
    margin-top: 0;
}

div.accordion-content .data p:last-child {
    margin-bottom: 0;
}

div.accordion .data-entry div.separator {
    border-top: 1px solid #f7f7f7;
    grid-column: 1/3;
}

div.popup .accordion div.button {
    padding: 20px 0 0 0;
}

div.popup .accordion div.separator {
    height: 50px;
}

/*==================== Content ====================*/
#content-preview {
    background: url("../image/background-content.png") center no-repeat;
    background-size: 100% 100%;
}

#content-preview .wrapper div.latest-release {
    padding: 80px 0 0 0;
}

div.wrapper .latest-release h2 {
    font-family: oxanium, sans-serif;
    font-size: 45px;
    font-weight: 800;
    margin: 0 0 30px 0;
}

div.latest-release-carousel div .thumbnail a img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

div.latest-release-carousel div div.label {
    margin: -153px 0 0 30px;
    position: relative;
}

div.latest-release-carousel div .label a {
    background: #e4a101;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    transform: skewX(-10deg);
}

div.latest-release-carousel div .label a p {
    color: #1c1121;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    transform: skewX(10deg);
}

div.latest-release-carousel div div.description {
    background: rgba(23, 13, 28, 0.929);
    box-shadow: 0px 5px 12.09px 0.91px rgba(0, 0, 0, 0.35);
    padding: 35px 30px;
    position: relative;
}

div.latest-release-carousel div .description a h4 {
    font-family: oxanium, sans-serif;
    font-size: 22px;
    font-weight: 800;
    height: 22px;
    line-height: 22px;
    margin: 0 0 10px 0;
}

div.latest-release-carousel div .description a p {
    color: #d4d4d4;
    font-size: 15px;
    font-weight: 500;
    height: 21px;
    line-height: 21px;
    margin: 0;
}

div.latest-release .latest-release-carousel div.owl-nav {
    position: absolute;
    right: 0;
    top: -75px;
}

div.latest-release-carousel .owl-nav button {
    border: 1px solid #bebac0 !important;
    height: 32px;
    line-height: 32px !important;
    width: 37px;
}

div.latest-release-carousel .owl-nav button:hover {
    border: 1px solid #e4a101 !important;
}

div.latest-release-carousel .owl-nav button:hover i.previous-white {
    background: url("../image/library/icon/previous-icon-yellow.png") center no-repeat;
}

div.latest-release-carousel .owl-nav button:hover i.next-white {
    background: url("../image/library/icon/next-icon-yellow.png") center no-repeat;
}

div.latest-release-carousel .owl-nav button.owl-prev {
    margin: 0 10px 0 0;
}

/*========== Footer ==========*/
#footer {
    height: 50px;
}

#footer p {
    line-height: 20px;
    margin: 0 20px;
    padding: 15px;
    text-align: right;
}

/*========== Header ==========*/
#header {
    background: url("../image/background-header.png") center no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 10;
}

#header div.wrapper {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 20px;
    grid-template-columns: 1fr 655px 50px 50px;
}

div.logo a h1 {
    height: 50px;
    line-height: 50px;
    margin: 25px 0;
    overflow: hidden;
}

div.logo a h1 img {
    height: 100%;
    object-fit: cover;
    width: auto;
}

#header .wrapper ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.wrapper .menu li.menu-item {
    float: left;
    padding: 0 25px;
    transform: skewX(-10deg);
}

div.wrapper .menu li.menu-item:hover {
    background: #e4a101;
}

ul.menu .menu-item a {
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 100px;
    line-height: 100px;
    text-decoration: none;
    text-transform: uppercase;
    transform: skewX(10deg);
}

ul.menu .menu-item:hover a {
    color: #1c1121;
}

ul.menu .menu-item:hover li a {
    color: #fff;
}

ul.menu .menu-item ul.sub-menu {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #1c1421;
    border: 1px solid #3a2746;
    border-radius: 2px;
    box-shadow: 0 30px 70px 0 rgba(137, 139, 142, 0.15);
    list-style: none;
    margin: 0 0 0 -25px;
    padding: 30px 0 15px 0;
    position: absolute;
    transform: skewX(10deg) scale(1, 0);
    transform-origin: 0 0;
}

ul.menu .menu-item:hover > ul.sub-menu {
    transform: skewX(10deg) scale(1);
}

li.menu-item .sub-menu li {
    padding: 0 0 15px 0;
}

ul.sub-menu li a {
    height: auto !important;
    line-height: 25px !important;
    padding: 0 20px;
    transform: skewX(0deg) !important;
    width: 200px;
}

ul.sub-menu li a:hover {
    color: #e4a101 !important;
}

#header .wrapper ul.cart {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.wrapper .cart li {
    height: 100px;
    text-align: center;
}

ul.cart li p {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 40px 0;
}

ul.cart li p:nth-child(2) {
    background: #e4a101;
    border-radius: 50%;
    color: #1c1121;
    font-weight: 800;
    margin: 32px 10px 48px -8px;
    min-width: 20px;
    position: absolute;
    text-align: center;
}

ul.cart li ul.cart-summary {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #1c1421;
    border: 1px solid #3a2746;
    border-radius: 2px;
    box-shadow: 0 30px 70px 0 rgba(137, 139, 142, 0.15);
    list-style: none;
    margin: 0 0 0 -300px;
    padding: 25px;
    position: absolute;
    transform: scale(1, 0);
    transform-origin: 0 0;
}

ul.cart li:hover > ul.cart-summary {
    transform: scale(1);
}

ul.cart li .cart-summary li {
    height: auto;
    padding: 0;
}

ul.cart li .cart-summary li:first-child {
    border-top: 1px solid #473151;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;
    grid-template-columns: 100px 1fr;
    margin: 10px 0 20px 0;
    padding: 25px 0 0 0;
}

ul.cart-summary li p {
    background: none !important;
    color: #a5a5a5 !important;
    font-weight: 500 !important;
    height: 25px;
    line-height: 25px;
    margin: 0 !important;
    position: static !important;
    text-align: left;
}

ul.cart-summary li p:last-child {
    text-align: right;
}

ul.cart-summary li a {
    display: block;
    font-size: 13px;
    font-weight: 500;
    height: 20px;
    line-height: 20px;
    margin: 0 0 8px 0;
    padding: 15px 30px;
    text-transform: uppercase;
    width: 240px;
}

ul.cart-summary li a:first-child {
    background: #e4a101;
    color: #1c1121;
}

ul.cart-summary li a:first-child:hover {
    color: #1c1121;
}

ul.cart-summary li a:last-child {
    background: #291b35;
}

ul.cart-summary li a:last-child:hover {
    color: #fff;
}

#header .wrapper div.search {
    height: 50px;
    margin: 25px 0;
    text-align: center;
}

div.wrapper .search p {
    background: #111111;
    border-radius: 5px;
    box-shadow: 0px 3px 7px 0px rgba(128, 18, 40, 0.2), inset 0px 3px 7px 0px rgba(56, 17, 33, 0.4);
    font-size: 13px;
    height: 48px;
    line-height: 48px;
    margin: 0;
    text-align: center;
}

/*========== Pagination ==========*/
div.wrapper .content div.pagination {

}

div.content .pagination ul {
    list-style: none;
    padding: 0;
}

div.pagination ul a {
    display: block;
    float: left;
}

div.pagination ul li {
    background: rgba(0, 0, 0, 0.2);
    color: #337ab7;
    float: left;
    height: 22px;
    line-height: 22px;
    min-width: 20px;
    padding: 5px;
    text-align: center;
}

div.pagination ul li i {
    margin-top: 3.5px;
}

div.pagination ul li form input {
    padding: 0;
    text-align: center;
    width: 25px;
}

div.pagination ul li form button {
    display: none;
}

/*========== Slider ==========*/
#slider {
    height: 700px;
}

#slider ul.anim-slider {
    height: 100%;
    z-index: 1;
}

#slider .anim-slider li.anim-slide {
    height: 100%;
    z-index: 1;
}

#slider .anim-slider li.anim-slide:first-child {
    background: url("../image/background-slider-1.png") center center no-repeat;
    background-size: auto 100%;
}

ul.anim-slider .anim-slide div {
    width: 100%;
}

ul.anim-slider .anim-slide div:first-child {
    top: 175px;
}

li.anim-slide:first-child div h3 {
    color: #e4a101;
    font-size: 22px;
    font-weight: 700;
    height: 26px;
    line-height: 26px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

ul.anim-slider .anim-slide div:nth-child(2) {
    top: 226px;
}

li.anim-slide:first-child div h2 {
    font-family: oxanium, sans-serif;
    font-size: 100px;
    font-weight: 800;
    height: 90px;
    line-height: 90px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

li.anim-slide:first-child div h2 span {
    color: #e4a101;
    margin: 0 0 0 25px;
    position: static;
}

ul.anim-slider .anim-slide div:nth-child(3) {
    top: 331px;
}

li.anim-slide:first-child div p {
    font-size: 18px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    margin: 0;
    position: static;
    text-align: center;
    width: 100%;
}

ul.anim-slider .anim-slide div:last-child {
    top: 427px;
}

li.anim-slide:first-child div a {
    background: #e4a101;
    border-radius: 5px;
    display: block;
    font-size: 15px;
    font-weight: 700;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    padding: 0 20px;
    position: static;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
}

li.anim-slide:first-child div a:hover {
    color: #1c1121;
}

#slider .anim-slider div.anim-dots {
    display: none;
}

/*========== Top Menu ==========*/
#top-menu div.wrapper {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 20px;
    grid-template-columns: 1fr 120px 120px 120px;
}

#top-menu .announcement div {
    float: left;
}

div.announcement div p {
    color: #a5a5a5;
    font-size: 13px;
    font-weight: 600;
    line-height: 35px;
    margin: 5px 0;
}

#top-menu .announcement div.countdown {
    background: #e4a101;
    margin: 0 5px;
    transform: skewX(-10deg);
}

div.announcement .countdown p {
    color: #1c1121;
    font-size: 18px;
    font-weight: 900;
    padding: 0 15px;
    transform: skewX(10deg);
}

#top-menu .wrapper div.social-media {
    margin: 10px 0;
    text-align: right;
}

div.wrapper .social-media a {
    display: inline-block;
    line-height: 25px;
    margin: 0 15px 0 0;
}

div.wrapper .social-media a:last-child {
    margin: 0;
}

div.social-media a i.facebook-grey:hover {
    background: url("../image/library/icon/facebook-icon-yellow.png") center no-repeat;
}

div.social-media a i.instagram-grey:hover {
    background: url("../image/library/icon/instagram-icon-yellow.png") center no-repeat;
}

div.social-media a i.tokopedia-grey:hover {
    background: url("../image/library/icon/tokopedia-icon-yellow.png") center no-repeat;
}

#top-menu .wrapper div.contact-us {
    border-left: 2px solid #e4a101;
    margin: 10px 0;
}

div.wrapper .contact-us a {
    display: inline-block;
    line-height: 25px;
    margin: 0 15px 0 0;
    text-align: left;
}

div.wrapper .contact-us a:first-child {
    margin: 0 15px 0 20px;
}

div.wrapper .contact-us a:last-child {
    margin: 0;
}

div.contact-us a i.envelope-grey:hover {
    background: url("../image/library/icon/envelope-icon-yellow.png") center no-repeat;
}

div.contact-us a i.phone-grey:hover {
    background: url("../image/library/icon/phone-icon-yellow.png") center no-repeat;
}

div.contact-us a i.whatsapp-grey:hover {
    background: url("../image/library/icon/whatsapp-icon-yellow.png") center no-repeat;
}

#top-menu .wrapper div.account {
    margin: 5px 0;
}

div.wrapper .account a {
    color: #edeaea;
}

div.account a p {
    float: left;
    margin: 0;
}

div.account a p:first-child {
    background: #e4a101;
    border-right: 1px solid #e4a101;
    border-top: 1px solid #e4a101;
    padding: 8px 12px;
}

div.account a p:last-child {
    background: #181719;
    border-top: 1px solid #e4a101;
    font-weight: 500;
    height: 34px;
    line-height: 34px;
    max-width: 40px;
    padding: 0 20px;
    text-transform: uppercase;
}

@media only screen and (max-width: 359px) {

    /*==================== Basic ====================*/
    .mobile {
        display: block;
    }

    /*========== Page Not Found ==========*/
    #wrapper .full-image img {
        width: 300px;
    }

    /*========== Popup ==========*/
    #popup div.wrapper {
        padding: 20px 0 20px 10px;
        width: 310px;
    }

    div.popup .accordion div.data-entry {
        grid-template-columns: 257px;
    }

    div.accordion .accordion-content p.title {
        text-align: left;
        width: 257px;
    }

    /*========== Response ==========*/
    #response {
        left: 5%;
        width: 90%;
    }

    /*==================== Content ====================*/
    #content {
        width: 320px;
    }

    #content .wrapper div.navigation {
        padding: 5px 10px;
    }

    div.wrapper .navigation div.breadcrumb {
        grid-column: 1/3;
    }

    div.wrapper .navigation div.action {
        grid-column: 1/3;
    }

    div.navigation .action a.add {
        margin: 0 auto 5px auto;
    }

    #content .wrapper div.content {
        padding: 10px 0;
    }

    div.content .page-entry p {
        margin: 0 0 0 20px;
    }

    div.wrapper .content table.data-list {
        width: 320px;
    }

    div.content .data-list th.index {
        width: 60px;
    }

    div.content .data-list th:nth-child(2) {
        width: 170px;
    }

    div.content .data-list th.action {
        width: 90px;
    }

    table.data-list th p,
    table.data-list td p,
    table.data-list .action div {
        margin: 5px 10px;
    }

    table.data-list td p {
        max-width: 150px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.accordion-content .title p {
        margin: 0;
        text-align: left;
    }

    div.accordion-content .file p {
        height: 32px;
        line-height: 32px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 280px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 300px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 220px;
    }

    div.data .number input {
        width: 200px;
    }

    div.accordion-content .data div.file-list {
        max-width: 140px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: 1fr;
    }

    div.accordion-content .response p {
        float: left;
    }

    div.accordion .data-entry div.input-list {
        grid-column: 1/2;
    }

    div.data-entry .input-list div.list-multiple {
        grid-template-columns: 1fr;
    }

    div.accordion .data-entry div.add-input {
        grid-column: 1/2;
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 1fr;
    }

    div.input-list .list-multiple div.button {
        grid-column: 1/2;
    }

    /*========== Footer ==========*/
    #footer p {
        text-align: center;
    }

    /*========== Header ==========*/
    #header {
        grid-template-columns: 1fr 30px 30px;
        padding: 10px;
    }

    #header div.logo {
        grid-column: 1/4;
        height: 20px;
        text-align: center;
    }

    div.logo a h1 {
        height: 20px;
        line-height: 20px;
    }

    #header div.account {
        text-align: left;
    }

    #header .account p {
        max-width: 162px;
    }

}

@media only screen and (min-width: 360px) and (max-width: 479px) {

    /*==================== Basic ====================*/
    .mobile {
        display: block;
    }

    /*========== Page Not Found ==========*/
    #wrapper .full-image img {
        width: 340px;
    }

    /*========== Popup ==========*/
    #popup div.wrapper {
        padding: 20px 0 20px 10px;
        width: 350px;
    }

    div.popup .accordion div.data-entry {
        grid-template-columns: 297px;
    }

    div.accordion .accordion-content p.title {
        text-align: left;
        width: 297px;
    }

    /*========== Response ==========*/
    #response {
        left: 5%;
        width: 90%;
    }

    /*==================== Content ====================*/
    #content {
        width: 360px;
    }

    #content .wrapper div.navigation {
        padding: 5px 10px;
    }

    div.wrapper .navigation div.breadcrumb {
        grid-column: 1/3;
    }

    div.wrapper .navigation div.action {
        grid-column: 1/3;
    }

    div.navigation .action a.add {
        margin: 0 auto 5px auto;
    }

    div.content .page-entry p {
        margin: 0 0 0 20px;
    }

    #content .wrapper div.content {
        padding: 10px 0;
    }

    div.wrapper .content table.data-list {
        width: 360px;
    }

    div.content .data-list th.index {
        width: 60px;
    }

    div.content .data-list th:nth-child(2) {
        width: 210px;
    }

    div.content .data-list th.action {
        width: 90px;
    }

    table.data-list th p,
    table.data-list td p,
    table.data-list .action div {
        margin: 5px 10px;
    }

    table.data-list td p {
        max-width: 190px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.accordion-content .title p {
        margin: 0;
        text-align: left;
    }

    div.accordion-content .file p {
        height: 32px;
        line-height: 32px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 320px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 340px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 260px;
    }

    div.data .number input {
        width: 240px;
    }

    div.accordion-content .data div.file-list {
        max-width: 180px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: 1fr;
    }

    div.accordion-content .response p {
        float: left;
    }

    div.accordion .data-entry div.input-list {
        grid-column: 1/2;
    }

    div.data-entry .input-list div.list-multiple {
        grid-template-columns: 1fr;
    }

    div.accordion .data-entry div.input-list {
        grid-column: 1/2;
    }

    div.accordion .data-entry div.add-input {
        grid-column: 1/2;
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 1fr;
    }

    div.input-list .list-multiple div.button {
        grid-column: 1/2;
    }

    /*========== Footer ==========*/
    #footer p {
        text-align: center;
    }

    /*========== Header ==========*/
    #header {
        grid-template-columns: 1fr 30px 30px;
        padding: 10px;
    }

    #header div.logo {
        grid-column: 1/4;
        height: 20px;
        text-align: center;
    }

    div.logo a h1 {
        height: 20px;
        line-height: 20px;
    }

    #header div.account {
        text-align: left;
    }

    #header .account p {
        max-width: 202px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 599px) {

    /*==================== Basic ====================*/
    .mobile {
        display: block;
    }

    /*========== Page Not Found ==========*/
    #wrapper .full-image img {
        width: 460px;
    }

    /*========== Popup ==========*/
    #popup div.wrapper {
        width: 413px;
    }

    div.popup .accordion div.data-entry {
        grid-template-columns: 360px;
    }

    div.accordion .accordion-content p.title {
        text-align: left;
        width: 360px;
    }

    /*========== Response ==========*/
    #response {
        left: 10%;
        width: 80%;
    }

    /*==================== Content ====================*/
    #content {
        width: 480px;
    }

    #content .wrapper div.navigation {
        padding: 5px 10px;
    }

    #content .wrapper div.content {
        padding: 10px 0;
    }

    div.content .page-entry p {
        margin: 0 0 0 20px;
    }

    div.wrapper .content table.data-list {
        width: 480px;
    }

    div.content .data-list th.index {
        width: 60px;
    }

    div.content .data-list th.action {
        width: 90px;
    }

    table.data-list th p,
    table.data-list td p,
    table.data-list .action div {
        margin: 5px 10px;
    }

    table.data-list td p {
        max-width: 250px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.accordion-content .title p {
        margin: 0;
        text-align: left;
    }

    div.accordion-content .file p {
        height: 32px;
        line-height: 32px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 440px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 460px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 380px;
    }

    div.data .number input {
        width: 360px;
    }

    div.accordion-content .data div.file-list {
        max-width: 300px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: repeat(2, 225px);
    }

    div.accordion-content .response p {
        float: left;
    }

    div.accordion .data-entry div.input-list {
        grid-column: 1/2;
    }

    div.accordion .data-entry div.input-list {
        grid-column: 1/2;
    }

    div.data-entry .input-list div.list-multiple {
        grid-template-columns: 1fr;
    }

    div.accordion .data-entry div.add-input {
        grid-column: 1/2;
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 1fr;
    }

    div.input-list .list-multiple div.button {
        grid-column: 1/2;
    }

    /*========== Footer ==========*/
    #footer p {
        text-align: center;
    }

    /*========== Header ==========*/
    #header {
        grid-template-columns: 180px 1fr 30px 30px;
        padding: 10px;
    }

    #header div.logo {
        height: 20px;
        padding: 5px 0;
    }

    div.logo a h1 {
        height: 20px;
        line-height: 20px;
    }

    #header .account p {
        max-width: 127px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 639px) {

    /*==================== Basic ====================*/
    .mobile {
        display: block;
    }

    /*========== Page Not Found ==========*/
    #wrapper .full-image img {
        width: 580px;
    }

    /*========== Popup ==========*/
    #popup div.wrapper {
        width: 533px;
    }

    div.popup .accordion div.data-entry {
        grid-template-columns: 480px;
    }

    div.accordion .accordion-content p.title {
        text-align: left;
        width: 480px;
    }

    /*========== Response ==========*/
    #response {
        left: 20%;
        width: 60%;
    }

    /*==================== Content ====================*/
    #content {
        width: 600px;
    }

    #content .wrapper div.navigation {
        padding: 5px 10px;
    }

    #content .wrapper div.content {
        padding: 10px 0;
    }

    div.content .page-entry p {
        margin: 0 0 0 20px;
    }

    div.wrapper .content table.data-list {
        width: 600px;
    }

    div.content .data-list th.index {
        width: 60px;
    }

    div.content .data-list th.action {
        width: 90px;
    }

    table.data-list th p,
    table.data-list td p,
    table.data-list .action div {
        margin: 5px 10px;
    }

    table.data-list td p {
        max-width: 250px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.accordion-content .title p {
        margin: 0;
        text-align: left;
    }

    div.accordion-content .file p {
        height: 32px;
        line-height: 32px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 560px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 580px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 500px;
    }

    div.data .number input {
        width: 480px;
    }

    div.accordion-content .data div.file-list {
        max-width: 420px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: repeat(2, 285px);
    }

    div.accordion-content .response p {
        float: left;
    }

    div.accordion .data-entry div.input-list {
        grid-column: 1/2;
    }

    div.accordion .data-entry div.input-list {
        grid-column: 1/2;
    }

    div.data-entry .input-list div.list-multiple {
        grid-template-columns: 1fr;
    }

    div.accordion .data-entry div.add-input {
        grid-column: 1/2;
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 1fr;
    }

    div.input-list .list-multiple div.button {
        grid-column: 1/2;
    }

    /*========== Footer ==========*/
    #footer p {
        text-align: center;
    }

    /*========== Header ==========*/
    #header {
        grid-template-columns: 270px 1fr 30px 30px;
        padding: 10px;
    }

    #header .account p {
        max-width: 157px;
    }

}

@media only screen and (min-width: 640px) and (max-width: 767px) {

    /*==================== Basic ====================*/
    .mobile {
        display: block;
    }

    /*========== Page Not Found ==========*/
    #wrapper .full-image img {
        width: 620px;
    }

    /*========== Popup ==========*/
    #popup div.wrapper {
        width: 573px;
    }

    div.popup .accordion div.data-entry {
        grid-template-columns: 520px;
    }

    div.accordion .accordion-content p.title {
        text-align: left;
        width: 520px;
    }

    /*========== Response ==========*/
    #response {
        left: 20%;
        width: 60%;
    }

    /*==================== Content ====================*/
    #content {
        width: 640px;
    }

    #content .wrapper div.navigation {
        padding: 5px 10px;
    }

    #content .wrapper div.content {
        padding: 10px 0;
    }

    div.content .page-entry p {
        margin: 0 0 0 20px;
    }

    div.wrapper .content table.data-list {
        width: 640px;
    }

    div.content .data-list th.index {
        width: 60px;
    }

    div.content .data-list th.action {
        width: 90px;
    }

    table.data-list th p,
    table.data-list td p,
    table.data-list .action div {
        margin: 5px 10px;
    }

    table.data-list td p {
        max-width: 250px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.accordion-content .title p {
        margin: 0;
        text-align: left;
    }

    div.accordion-content .file p {
        height: 32px;
        line-height: 32px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 600px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 620px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 540px;
    }

    div.data .number input {
        width: 520px;
    }

    div.accordion-content .data div.file-list {
        max-width: 460px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: repeat(2, 305px);
    }

    div.accordion-content .response p {
        float: left;
    }

    div.accordion .data-entry div.input-list {
        grid-column: 1/2;
    }

    div.accordion .data-entry div.input-list {
        grid-column: 1/2;
    }

    div.data-entry .input-list div.list-multiple {
        grid-template-columns: 1fr;
    }

    div.accordion .data-entry div.add-input {
        grid-column: 1/2;
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 1fr;
    }

    div.input-list .list-multiple div.button {
        grid-column: 1/2;
    }

    /*========== Footer ==========*/
    #footer p {
        text-align: center;
    }

    /*========== Header ==========*/
    #header {
        grid-template-columns: 270px 1fr 30px 30px;
        padding: 10px;
    }

    #header .account p {
        max-width: 197px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 799px) {

    /*==================== Basic ====================*/
    /*========== Response ==========*/
    #response {
        left: 25%;
        width: 50%;
    }

    /*==================== Content ====================*/
    #content {
        width: 768px;
    }

    div.wrapper .content table.data-list {
        width: 728px;
    }

    table.data-list td p {
        max-width: 250px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 180px 538px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 518px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 538px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 458px;
    }

    div.data .number input {
        width: 438px;
    }

    div.accordion-content .data div.file-list {
        max-width: 378px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: repeat(2, 264px);
    }

    div.accordion .accordion-content div.response {
        grid-column: 1/3;
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1fr;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 180px 538px;
    }

    /*========== Header ==========*/
    #header .account p {
        max-width: 197px;
    }

}

@media only screen and (min-width: 800px) and (max-width: 899px) {

    /*==================== Basic ====================*/
    /*========== Response ==========*/
    #response {
        left: 30%;
        width: 40%;
    }

    /*==================== Content ====================*/
    #content {
        width: 800px;
    }

    div.wrapper .content table.data-list {
        width: 760px;
    }

    table.data-list td p {
        max-width: 250px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 180px 570px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 550px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 570px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 490px;
    }

    div.data .number input {
        width: 470px;
    }

    div.accordion-content .data div.file-list {
        max-width: 410px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: repeat(2, 280px);
    }

    div.accordion .accordion-content div.response {
        grid-column: 1/3;
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1fr;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 180px 570px;
    }

    /*========== Header ==========*/
    #header .account p {
        max-width: 292px;
    }

}

@media only screen and (min-width: 900px) and (max-width: 979px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    #content {
        width: 900px;
    }

    div.wrapper .content table.data-list {
        width: 860px;
    }

    table.data-list td p {
        max-width: 300px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 180px 670px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 650px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 670px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 590px;
    }

    div.data .number input {
        width: 570px;
    }

    div.accordion-content .data div.file-list {
        max-width: 510px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: repeat(2, 330px);
    }

    div.accordion .accordion-content div.response {
        grid-column: 1/3;
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1fr;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 180px 670px;
    }

    /*========== Header ==========*/
    #header .account p {
        max-width: 392px;
    }

}

@media only screen and (min-width: 980px) and (max-width: 1023px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    #content {
        width: 980px;
    }

    div.wrapper .content table.data-list {
        width: 940px;
    }

    table.data-list td p {
        max-width: 300px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 180px 750px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 730px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 750px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 670px;
    }

    div.data .number input {
        width: 650px;
    }

    div.accordion-content .data div.file-list {
        max-width: 590px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: repeat(2, 370px);
    }

    div.accordion .accordion-content div.response {
        grid-column: 1/3;
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1fr;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 180px 750px;
    }

    /*========== Header ==========*/
    #header .account p {
        max-width: 472px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    #content {
        width: 1024px;
    }

    div.wrapper .content table.data-list {
        width: 984px;
    }

    table.data-list td p {
        max-width: 350px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 180px 794px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 774px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 794px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 714px;
    }

    div.data .number input {
        width: 694px;
    }

    div.accordion-content .data div.file-list {
        max-width: 634px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: repeat(2, 392px);
    }

    div.accordion .accordion-content div.response {
        grid-column: 1/3;
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1fr;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 180px 794px;
    }

    /*========== Header ==========*/
    #header .account p {
        max-width: 516px;
    }

}

@media only screen and (min-width: 1280px) and (max-width: 1359px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    #content {
        width: 1250px;
    }

    div.wrapper .content table.data-list {
        width: 1210px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 180px 710px 300px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 690px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 710px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 630px;
    }

    div.data .number input {
        width: 610px;
    }

    div.accordion-content .data div.file-list {
        max-width: 550px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: repeat(2, 350px);
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 900px 300px;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 180px 710px;
    }

    /*========== Header ==========*/
    #header .account div.name {
        max-width: 772px;
    }

}

@media only screen and (min-width: 1360px) and (max-width: 1599px) {

    /* Not set yet */

}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    #content {
        width: 1500px;
    }

    div.wrapper .content table.data-list {
        width: 1460px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 180px 960px 300px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 940px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 960px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 880px;
    }

    div.data .number input {
        width: 860px;
    }

    div.accordion-content .data div.file-list {
        max-width: 800px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: repeat(2, 475px);
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1150px 300px;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 180px 960px;
    }

    /*========== Header ==========*/
    #header .account div.name {
        max-width: 1092px;
    }

}

@media only screen and (min-width: 1920px) {

    /*==================== Basic ====================*/
    /*==================== Content ====================*/
    #content {
        width: 1800px;
    }

    div.wrapper .content table.data-list {
        width: 1760px;
    }

    div.wrapper .header div.pagination,
    div.wrapper .content div.pagination {
        float: none;
        margin: 0 0 20px 0;
        width: 300px;
    }

    div.wrapper form .accordion div.data-entry {
        grid-template-columns: 180px 1260px 300px;
    }

    div.accordion-content .data input,
    div.accordion-content .data textarea {
        width: 1240px;
    }

    div.accordion-content .data div.ui-select-container {
        width: 1260px;
    }

    div.data .country-code div.ui-select-container {
        width: 70px;
    }

    div.accordion-content .data div.number {
        width: 1180px;
    }

    div.data .number input {
        width: 1160px;
    }

    div.accordion-content .data div.file-list {
        max-width: 1100px;
    }

    div.accordion .accordion-content div.data-range {
        grid-template-columns: repeat(2, 625px);
    }

    div.wrapper form .accordion div.list-entry {
        grid-template-columns: 1440px 300px;
    }

    div.list-entry .input-list div.list-multiple {
        grid-template-columns: 180px 1260px;
    }

    /*========== Header ==========*/
    #header .account div.name {
        max-width: 1411px;
    }

}
